.container:not(.item) {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + var(--gap));
  margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
}

.item {
  padding: var(--gap) 0 0 var(--gap);
  flex: var(--xs-flex);
}

/* sm */
@media only screen and (min-width: 600px) {
  .item {
    flex: var(--sm-flex);
  }
}

/* md */
@media only screen and (min-width: 1240px) {
  .item {
    flex: var(--md-flex);
  }
}

/* lg */
@media only screen and (min-width: 1440px) {
  .item {
    flex: var(--lg-flex);
  }
}
