.section {
  display: flex;
  place-content: center;
  background: white;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1040px;
  place-content: space-between;
  padding: 16px;
}

.right {
  display: flex;
  gap: 16px;
  align-items: center;
}
