.section {
  display: flex;
  place-content: center;
}

.section > div {
  min-height: 90vh;
  max-width: 1240px;
  padding: 2rem;
  flex: 1;
}

@media only screen and (max-width: 600px) {
  .section > div {
    padding: 1rem;
  }
}

.footer {
  background-color: #212121;
  display: flex;
  justify-content: center;
  overflow: hidden;
  color: #bcaaa4;
}

.footer > div {
  flex: 1;
  padding: 2rem;
  max-width: 1240px;
}
