.container {
  all: unset;
  display: block;
  font-size: var(--xs-size);
  text-align: var(--xs-align);
}

/* sm */
@media only screen and (min-width: 600px) {
  .container {
    font-size: var(--sm-size);
    text-align: var(--sm-align);
  }
}

/* md */
@media only screen and (min-width: 1240px) {
  .container {
    font-size: var(--md-size);
    text-align: var(--md-align);
  }
}

/* lg */
@media only screen and (min-width: 1440px) {
  .container {
    font-size: var(--lg-size);
    text-align: var(--lg-align);
  }
}
